.container {
  padding-top: 75px;
}

.wrapper {
  background: #060d08;
  padding: 20px;
  border: 0.6px solid rgb(225, 223, 223);
  border-radius: 12px;
  margin: 0 auto;
}

.container .today {
  color: white;
  font-size: 22px;
  
  font-weight: 700;
  margin-bottom: 30px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  justify-content: center;
}

.add-control {
  position: relative;
}

.add-item,.edit-block {
  background: #060d08;
  color: rgb(225, 223, 223);
  resize: none;
  border: none;
}
 

.add-item:focus {
  outline: none;
}
.edit-block:focus {
  outline: none;
}

.add-item::-webkit-scrollbar {
  display: none;
}

.form-group {
  padding: 0px;
  align-items: baseline;
  justify-content: space-between;
}

.buttonWrapper {
  padding: 10px 15px 10px 29px;
  display: flex;
  justify-content: flex-start;
}

.form-group input {
  background: #060d08;
  border: none;
  margin-bottom: 7px;
  position: relative;
  word-break: break-word;
}

input::placeholder {
  color: white;
  opacity: 0.3;
}

.add-icon {
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(225, 223, 223);
  font-size: 14px;
  border-radius: 13.18px;
  border: 1px transparent;
  box-sizing: border-box;
  position: relative;
  margin-right: 5px;
}

.add-icon::before {
  content: '';
  position: absolute;
  width: 14px;
  border-top: 1px solid;
}

.add-icon::after {
  content: '';
  position: absolute;
  height: 14px;
  border-left: 1px solid;
}

ul {
  list-style: none;
  padding-left: 0px !important;
}

.todo-list {
  margin: 20px 0;
}

.todo-list li {
  background: transparent;
  border-radius: 5px;
  margin-bottom: 7px;
  position: relative;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.todo-list li label {
  display: block;
  padding-right: 10px;
}

.checkbox {
  margin: 0;
  padding: 10px 15px 10px 0px;
  border-radius: 5px;
}

label .checkbox-mask {
  display: block;
  border: 1px solid rgb(225, 223, 223);
  width: 14px;
  height: 14px;
  border-radius: 2.5px;
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}

.task-item {
  padding: 0px 4px;
  cursor: default;
}

input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
  margin-left: -20px;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.button {
  border-radius: 4.6px;
  font-weight: bold;
  width: 75px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

.delete {
  color: #771011;
  background: #060d08;
  border: 0.6px solid #771011;
}

.delete:hover {
  background: #771011;
  color: #060d08;
  border: 0.6px solid transparent;
}

.add {
  background: rgb(225, 223, 223);
  color: #060d08;
  border: 0.6px solid transparent;
}

.add:hover {
  background: #060d08;
  color: rgb(225, 223, 223);
  border: 0.6px solid rgb(225, 223, 223);
}
.buttonWrapper {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.is-done {
  text-decoration: line-through;
}

.err {
  margin: 0px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.swal2-popup {
  background: rgb(236, 236, 236) !important;
}

#swal2-html-container {
  color: #060d08;
}

.swal2-confirm {
  color: white;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 1150px;
  }
}
